target/
doc/server.xml
WebRoot/WEB-INF/classes
WebRoot/WEB-INF/springcomm
WebRoot/META-INF/MANIFEST.MF
*.iml
*.DS_Store
context.xml
.settings
.classpath
.metadata/
/bin/
.metadata/
.project
.externalToolBuilders
.settings
.classpath
.idea
classes
out
.vscode
logs
pom.xml